@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: "pastel";
}
@plugin "daisyui/theme" {
  name: "pastel";
  default: true;
  --color-primary: "#252422";
  --color-secondary: "#403D39";
 --color-neutral: "#EB5E28";
 --color-base-200: "#FFFCF2";
}
@utility btn {
  @apply rounded-full text-white;
}
@utility btn-ghost {
  @apply rounded-full text-primary;
}
* {
  font-family: "Lexend", sans-serif;
}
